body { 
    background: url('assets/img/joanna.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: cover;
  }
  
  .headline {
    font-family: 'Oregano', cursive;
    font-size: 75px;
    font-weight: bold;
    color: #B31C07;
  }

  #wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
  }
  #articles {
    font-family: 'Quando', serif;
    display: inline-block;
    overflow: auto;
    background-color: white;
    opacity: 0.75;
    width: 60%;
    padding: 10px;
  }
  #notes {
    font-family: 'Quando', serif;
    position: fixed;
    left: 950px;
    top: 350px;
    width: 30%;
  }
  textarea, input {
    display: block;
    width: 100%;
    background-color: white;
    opacity: 0.75;
  }
  input {
    height: 36px;
    font-size: 24px;
  }
  textarea {
    height: 150px;
    font-size: 18px;
  }
